@charset "UTF-8";

html {
    font-size: 16px;
    font-family:'Courier New', Courier, monospace; 
    color: rgb(227, 208, 149); 
    background-color:rgb(14, 33, 72) ;

}

*{
    box-sizing:border-box;
}
body{
    margin: 0;
}

h1{
	text-align:center;
}

/*header*/
.icon{
  margin: auto;
  display: block;
}

#logotitle{
	text-align: center;
}
#clock{
	text-align: left;
}
/*menu*/
#openSiteMap{
	position:fixed;
	top:10px;
	right:10px;
}
#closeSiteMap{
	position:fixed;
	top:10px;
	right:50px;
}
#siteMapPanel{
	text-align:right;
}
/*main*/

/*footer*/