@charset "UTF-8";

html{
	text-align:center;
	
}

table {
	margin: 0 auto;
	border-spacing: 20px;
}

#catgorys {
	display: flex;
	justify-content: center;
	gap: 20px; /* ボタンの間隔 */
	margin-bottom: 30px;
}

.commority-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; /* カード同士の間隔 */
  padding: 20px;
  
}

.commodity{
	width: 180px;
	background-color: #1e2b50;
	border-radius: 10px;
	color: rgb(227, 208, 149);
	text-align: center;
	padding: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}