@charset "UTF-8";
/* すべてのページに適用される設定 */
html{
text-align: center;  /* 横中央に配置 */

}



/*header*/

/*main*/
main{
	margin-top:100px;
}

.categoryRanking{
	margin:50px;
}

.orderRanking{
	margin:50px;
}

/*footer*/
.copyright{
	padding-top:75px;
	padding-bottom:75px;
	
}


/*個別*/
/*時計*/
#clock {
  text-align: left;
  margin-left: 0;
}

/*テーブル*/

.categoryRankingTable{
	
	border-collapse:collapse;
	margin: 0 auto;
	width: 650px;
  
}


.categoryRankingTable th,.categoryRankingTable td{
	border:1px solid rgb(227, 208, 149);
	padding: 20px;
	
}

.categoryRankingTable th{
	border:1px solid rgb(14, 33, 72);
	padding: 20px;

	color:rgb(14, 33, 72) ;
}

.categoryRankingTable td {
	background: linear-gradient(90deg, rgb(14, 33, 72), rgb(25, 47, 97));
}

.accordion-content{
	
	border-collapse:collapse;
	margin: 0 auto;
	width: 650px;
}

.accordion-content th,.accordion-content td{
	border:1px solid rgb(227, 208, 149);
	padding: 20px;
}

.accordion-content th{
	border:1px solid rgb(14, 33, 72);
	padding: 20px;

	color:rgb(14, 33, 72) ;
}

.accordion-content td{
	background-color: rgb(25, 47, 97);
}


.accordion-section {
  width: 650px; /* テーブルと揃える */
  margin: 0 auto; /* 中央寄せ */
}

.accordion-toggle {
  width: 650px;
  margin: 20px auto 0 auto; /* 上マージン＋中央寄せ */
  display: block;
  cursor: pointer;

  color: rgb(227, 208, 149);
  padding: 10px;
  font-weight: bold;
  border: 1px solid rgb(227, 208, 149);
}

.categoryRankingTable tr:hover,
.accordion-content tr:hover {
  background: linear-gradient(90deg, rgb(60, 85, 160), rgb(100, 120, 190)); /* 少し明るめに */
  box-shadow: 0 0 25px 8px rgba(227, 208, 149, 0.8); /* 光のようなエフェクト */
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

