@charset "UTF-8";
/* すべてのページに適用される設定 */


.menu{
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: top right;  /* 右上基準で縮小 */
}



/*header*/
#clock {
  text-align: left;
  margin-left: 20px;
}

#siteMapPanel,#openSiteMap,#closeSiteMap {
	float: right;          /* パネルを右に配置 */
    text-align: left;      /* 中の文字は左揃え */
    margin-left: 20px;     /* 必要に応じて調整 */
    
}

/*main*/
.QR{
	padding:50px;
	margin: 100px auto;
}

/*footer*/



/*個別*/


