@charset "UTF-8";
/* すべてのページに適用される設定 */
html {
    font-size: 16px;
    font-family:'Courier New', Courier, monospace; 
    color: rgb(227, 208, 149); 
    background-color:rgb(14, 33, 72) ;
    text-align: center;
}

*{
    box-sizing:border-box;
}
body{
    margin: 0;
}

.menu{
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: top right;  /* 右上基準で縮小 */
}



/*header*/
/*main*/

/*footer*/
.copyright{
	padding-top:75px;
	padding-bottom:75px;
	
}


/*個別*/


