@charset "UTF-8";

/*共通スタイル*/
html {
	text-align: center;
}

/* フォーム全体*/
form{
	margin: 20px auto;
	max-width: 500px;
	background-color: rgb(25, 47, 97);
	padding:20px;
	border-radius: 5px;
}
input[type="text"], input[type="date"] {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	background-color: rgb(227, 208, 149);
	color: rgb(14, 33, 72);
	border: none;
	font-weight: bold;
	cursor: pointer;
}

input[type="submit"]:hover, button:hover {
	background-color: rgb(255,235,180);
}

/* 顧客リスト表示*/
ul{
	list-style-type: none;
	padding:0;
	color: rgb(227, 208, 149);
}

ul li {
	padding: 5px 0;
	border-bottom: 1px solid rgb(227,208, 149);
	width: 300px;
	margin: 0 auto;
}

/* フッター*/
footer {
	margin-top: 60px;
	padding: 20px;
	color: rgb(227, 208, 149);
}

















