@charset "UTF-8";

html {
	text-align: center;
}

#visitorsbox {
  height: 100px;
  overflow-y: scroll;
  border: 1px solid rgb(227, 208, 149);
  padding: 10px 20px; 
  margin-top: 10px;
  background-color:rgb(14, 33, 72) ; 
}

#visitors {
	
	text-align: left;
}